/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB       &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y          &kp U      &kp I      &kp O    &kp P     &kp ESC
&kp LCTRL     &kp A  &kp S  &kp D     &kp F  &kp G        &kp H          &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_ALT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N          &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                            &kp LGUI  &mo 1  &kp SPACE    &kp BACKSPACE  &kp ENTER  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB  &trans  &kp N7        &kp N8        &kp N9        &trans       &kp INSERT       &kp HOME    &kp END      &kp PAGE_UP  &kp PAGE_DOWN  &kp ESC
&trans   &kp N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp CAPS     &kp LC(LA(DEL))  &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT      &kp DEL
&trans   &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans       &kp LG(L)        &trans      &kp K_PASTE  &trans       &trans         &trans
                               &kp LGUI      &trans        &kp SPACE    &kp BACKSPACE    &kp RETURN  &mo 2
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET      &kp AMPS    &kp KP_MULTIPLY  &trans    &trans    &kp BSPC
&trans   &trans    &trans  &kp LPAR  &kp RPAR  &trans       &kp MINUS      &kp EQUAL   &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&trans   &trans    &trans  &trans    &trans    &trans       &kp UNDER      &kp PLUS    &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                           &kp LGUI  &mo 1     &kp SPACE    &kp BACKSPACE  &kp RETURN  &trans
            >;
        };

        last_layer {
            display-name = "last_layer";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bl BL_SET 30  &bl BL_SET 70    &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp K_MUTE  &trans  &kp F1  &kp F2
&bt BT_NXT  &bt BT_PRV    &trans        &trans        &bl BL_INC     &bl BL_TOG       &trans           &trans             &trans      &trans  &trans  &kp F8
&trans      &trans        &trans        &trans        &bl BL_DEC     &bl BL_CYCLE     &trans           &trans             &trans      &trans  &trans  &kp F12
                                        &kp LGUI      &trans         &kp SPACE        &kp BACKSPACE    &kp RETURN         &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Third_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
